# Assignment#5

In [2]:
starick = 5
for x in range(6):
    for y in range(x):
     print('*', end=' ')
    print('')

for x in range(starick - 1, 0, -1):
    for y in range(x):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
user = input("Enter your value").strip()
vowels = ('a', 'e', 'i', 'o', 'u')

if user in vowels:
    print("This is a vowel")

else:
    print("This is a consonent")

Enter your value a

This is a vowel

In [18]:
a = int(input("Enter any number:"))
for x in range(1,11):
  print(a,'x',x,'=',x * a)

Enter any number: 9

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [20]:
students = [
    {"id": 1, "name": "Shan", "height": "5.5", "weight": "70"},
    {"id": 2, "name": "Sarim", "height": "6", "weight": "63"},
    {"id": 3, "name": "Anas", "height": "6.3", "weight": "79"},
    ]
students

[{'id': 1, 'name': 'Shan', 'height': '5.5', 'weight': '70'},
 {'id': 2, 'name': 'Sarim', 'height': '6', 'weight': '63'},
 {'id': 3, 'name': 'Anas', 'height': '6.3', 'weight': '79'}]

In [22]:
my_students = []

for student in students:
    print(student)

{'id': 1, 'name': 'Shan', 'height': '5.5', 'weight': '70'}
{'id': 2, 'name': 'Sarim', 'height': '6', 'weight': '63'}
{'id': 3, 'name': 'Anas', 'height': '6.3', 'weight': '79'}

In [26]:
my_students = [student['id'] for student in students \
                 if student['height'] == '6ft' and students['weight'] == "64" ]
my_students

[]

In [30]:
def test(dictionary):
    for key in dictionary:
        dictionary[key].clear()
    return dictionary

dictionary = { 
    'C1': [10, 20, 30], 
    'C2': [20, 30, 40],
    'C3': [12, 34]
}

print("\nDictionary:")
print(dictionary)

print("\nCleared dictionary:")

print(test(dictionary))

Dictionary:
{'C1': [10, 20, 30], 'C2': [20, 30, 40], 'C3': [12, 34]}

Cleared dictionary:
{'C1': [], 'C2': [], 'C3': []}

In [32]:

rivers = {
    'nile': 'egypt',
    'mississippi': 'united states',
    'fraser': 'canada',
    'kuskokwim': 'alaska',
    'yangtze': 'china',
    }

for river, country in rivers.items():
    print("The " + river.title() + " flows through " + country.title() + ".")

print("\nThe following rivers are included in this data set:")
for river in rivers.keys():
    print("- " + river.title())

print("\nThe following countries are included in this data set:")
for country in rivers.values():
    print("- " + country.title())

The Nile flows through Egypt.
The Mississippi flows through United States.
The Fraser flows through Canada.
The Kuskokwim flows through Alaska.
The Yangtze flows through China.

The following rivers are included in this data set:
- Nile
- Mississippi
- Fraser
- Kuskokwim
- Yangtze

The following countries are included in this data set:
- Egypt
- United States
- Canada
- Alaska
- China

In [ ]:
age = input("Enter your age") 

while True:
    if age == 'quit':
        break
    age = int(age)

    if age < 3:
        print(" You get in free!")
    elif 3 < age < 12:
        print(" Your ticket is $10.")
    else:
        print("Your ticket is $15.")